[package]
name = "ash-molten"
description = "Statically linked MoltenVK for Vulkan on Mac using Ash"
version = "0.30+38"
authors = ["Embark <opensource@embark-studios.com>", "Maik Klein <maik.klein@embark-studios.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["vulkan", "metal"]
categories = ["api-bindings", "rendering", "os::macos-apis"]
repository = "https://github.com/EmbarkStudios/ash-molten"
homepage = "https://github.com/EmbarkStudios/ash-molten"
documentation = "https://docs.rs/ash-molten"

[dependencies]
ash = "0.30"

[features]
external = []

[package.metadata.docs.rs]
default-target = "x86_64-apple-darwin"
